In [29]:
import pandas as pd 
import numpy as np

In [30]:
# Creating Series
ser=pd.Series(np.random.rand(3400))
print(ser)

0       0.599606
1       0.906674
2       0.317267
3       0.921058
4       0.681427
          ...
3395    0.918915
3396    0.927262
3397    0.263227
3398    0.072329
3399    0.234587
Length: 3400, dtype: float64

In [31]:
type(ser)

pandas.core.series.Series

In [32]:
ser.index

RangeIndex(start=0, stop=3400, step=1)

In [33]:
ser.dtype

dtype('float64')

In [34]:
ser.head()

0    0.599606
1    0.906674
2    0.317267
3    0.921058
4    0.681427
dtype: float64

In [35]:
ser.tail()

3395    0.918915
3396    0.927262
3397    0.263227
3398    0.072329
3399    0.234587
dtype: float64

In [36]:
# Creating Data frame
df=pd.DataFrame(np.random.rand(100,7),index=np.arange(100))
print(df)

           0         1         2         3         4         5         6
0   0.520597  0.630996  0.329957  0.870215  0.790728  0.818900  0.032564
1   0.978444  0.653096  0.586748  0.632519  0.135216  0.888008  0.982149
2   0.924796  0.764417  0.847122  0.004739  0.633301  0.673217  0.003992
3   0.895704  0.386590  0.762105  0.442943  0.679556  0.153821  0.780654
4   0.002433  0.741217  0.005668  0.065390  0.687317  0.828279  0.653697
..       ...       ...       ...       ...       ...       ...       ...
95  0.815399  0.808863  0.377514  0.297713  0.356336  0.009975  0.209530
96  0.330834  0.535712  0.754793  0.031388  0.918277  0.010065  0.111026
97  0.287342  0.613585  0.594447  0.623222  0.452519  0.821119  0.378886
98  0.893407  0.682855  0.834325  0.808414  0.349003  0.500151  0.501585
99  0.573923  0.171459  0.136849  0.864737  0.686205  0.866937  0.679359

[100 rows x 7 columns]

In [37]:
# For knowing type
type(df)

pandas.core.frame.DataFrame

In [38]:
# for checking column
df.columns

RangeIndex(start=0, stop=7, step=1)

In [41]:
# convert data frame into excel
df.to_numpy()

array([[5.20596978e-01, 6.30996387e-01, 3.29957193e-01, 8.70215128e-01,
        7.90728189e-01, 8.18900304e-01, 3.25644952e-02],
       [9.78443694e-01, 6.53095618e-01, 5.86747682e-01, 6.32518530e-01,
        1.35215592e-01, 8.88007723e-01, 9.82149079e-01],
       [9.24795583e-01, 7.64416767e-01, 8.47122269e-01, 4.73910951e-03,
        6.33301302e-01, 6.73217065e-01, 3.99216794e-03],
       [8.95703522e-01, 3.86590099e-01, 7.62105098e-01, 4.42942814e-01,
        6.79556491e-01, 1.53820990e-01, 7.80653974e-01],
       [2.43288804e-03, 7.41216650e-01, 5.66806292e-03, 6.53895802e-02,
        6.87317406e-01, 8.28279499e-01, 6.53697116e-01],
       [6.39960142e-01, 1.22429686e-01, 4.66858834e-01, 1.71923627e-01,
        6.15557265e-02, 6.53991331e-01, 6.36841670e-01],
       [6.76278850e-01, 6.76931246e-01, 4.75040119e-01, 1.59556664e-01,
        7.01877102e-01, 3.40692020e-01, 1.06456104e-01],
       [9.25023067e-01, 2.09311511e-01, 5.64480050e-01, 8.31875221e-01,
        5.52512027e-01, 8.48294085e-01, 9.51365325e-01],
       [1.54001781e-01, 7.53140796e-01, 3.41155757e-01, 2.98741398e-01,
        6.48938097e-01, 6.32057007e-01, 9.64677886e-01],
       [2.44765585e-01, 1.37295372e-01, 5.42060320e-01, 2.56072294e-01,
        3.04328290e-01, 6.61997821e-01, 6.68420649e-01],
       [2.49253665e-01, 2.40953964e-01, 8.91035158e-01, 3.94367850e-01,
        7.56312283e-01, 6.23420013e-01, 9.36017415e-01],
       [6.09418982e-01, 8.94668857e-01, 4.74518148e-01, 1.41425800e-01,
        9.54521144e-01, 4.37551229e-02, 9.63635115e-01],
       [2.60057285e-01, 6.29399974e-01, 9.75993959e-01, 5.99873973e-01,
        8.81224937e-01, 1.56428132e-01, 2.61729152e-01],
       [4.18394932e-01, 7.92044250e-01, 8.88207925e-01, 7.63659497e-01,
        8.03258073e-01, 2.02666858e-01, 8.38500075e-01],
       [1.80513434e-01, 2.49482671e-01, 2.05305576e-01, 9.05172463e-01,
        5.12728588e-02, 4.40814841e-01, 7.99736537e-01],
       [2.76332266e-01, 7.10252902e-01, 3.72501699e-01, 7.68420735e-01,
        6.35870591e-01, 8.04623114e-01, 9.68487938e-01],
       [6.66238173e-01, 3.56147757e-01, 3.95964179e-01, 8.44918262e-01,
        9.17220813e-01, 7.40235967e-01, 1.07567233e-01],
       [7.59181552e-01, 8.78250087e-01, 3.68666539e-01, 5.56289971e-01,
        3.69283902e-01, 8.26060583e-01, 1.73750013e-01],
       [9.99904779e-01, 2.48587107e-01, 7.09005193e-04, 4.17477023e-01,
        5.50812723e-02, 4.91268317e-01, 8.27589872e-01],
       [9.36805867e-01, 4.87041416e-01, 7.84303373e-03, 2.56782647e-01,
        8.63349319e-01, 1.99764846e-01, 2.03695464e-01],
       [7.81884666e-01, 5.40301291e-01, 9.38404719e-01, 1.10434076e-02,
        3.84469456e-01, 3.15244054e-01, 5.31808699e-01],
       [7.31507233e-01, 9.80616261e-01, 7.47957833e-01, 7.84060973e-02,
        3.62299957e-01, 1.11697233e-01, 4.50123272e-01],
       [9.25263792e-01, 2.86212644e-01, 3.19180431e-01, 1.80989337e-01,
        6.35868554e-01, 4.09369827e-01, 3.01614118e-01],
       [9.68994442e-01, 7.22684478e-01, 3.55490886e-01, 6.53094023e-01,
        1.40210283e-01, 7.17149382e-01, 1.40858050e-02],
       [1.52348006e-02, 5.13399529e-01, 6.04817915e-01, 7.42502091e-01,
        6.49846113e-01, 2.09414186e-01, 2.96227198e-01],
       [5.72340393e-01, 2.20095318e-01, 8.48463935e-01, 2.03848799e-01,
        6.25531861e-01, 3.19084484e-01, 8.95223295e-01],
       [8.92611942e-01, 7.95965670e-01, 5.57605070e-01, 3.21133882e-01,
        7.77027757e-01, 1.22634186e-01, 4.50822223e-02],
       [9.69611943e-01, 3.72880824e-01, 5.64770028e-01, 2.60061486e-01,
        1.05736956e-01, 2.95628240e-01, 8.81269848e-01],
       [9.41227484e-01, 8.15943123e-02, 2.32994390e-01, 6.52022706e-01,
        2.93404390e-01, 9.78174786e-01, 4.53641663e-01],
       [7.25642928e-01, 1.48787329e-01, 8.83664142e-01, 1.00726229e-02,
        8.45203942e-02, 3.34138065e-01, 5.37154359e-01],
       [7.47067438e-02, 5.35986736e-01, 1.98609903e-01, 9.40105898e-01,
        8.25831639e-01, 4.39035389e-01, 7.93550443e-01],
       [9.78906655e-01, 8.37819342e-01, 9.37232953e-01, 1.42070439e-01,
        2.31412121e-01, 7.33599003e-01, 6.01931041e-01],
       [6.68391418e-01, 5.83535003e-01, 5.59309421e-02, 8.56018580e-01,
        1.00759938e-01, 6.96502807e-01, 3.04351583e-01],
       [2.97006893e-01, 7.15131308e-01, 5.30045190e-01, 9.32743870e-01,
        1.68828632e-01, 1.52056169e-01, 7.61855913e-01],
       [6.09391873e-01, 1.31341716e-01, 3.40138586e-01, 8.29226977e-01,
        1.33514912e-01, 3.50497965e-01, 5.62704010e-01],
       [9.45262445e-01, 8.50881267e-01, 6.10529926e-01, 4.97390978e-01,
        3.28809458e-01, 5.14721628e-01, 5.04134270e-01],
       [4.42279778e-02, 9.13622831e-03, 4.67770302e-01, 1.31056037e-01,
        7.41423360e-01, 6.64403285e-01, 2.69497089e-01],
       [7.50825188e-01, 4.25794558e-01, 5.09504675e-01, 9.43638527e-02,
        9.97128208e-01, 4.47449754e-01, 8.72342723e-01],
       [9.90096929e-01, 2.58722896e-01, 5.48198342e-01, 8.09982226e-01,
        6.99590407e-01, 5.78527128e-01, 5.26305936e-02],
       [8.19852736e-01, 5.76637352e-01, 9.92678892e-02, 9.53431777e-01,
        9.05041636e-01, 6.84468260e-01, 4.77995724e-01],
       [9.49401242e-01, 1.54812505e-01, 2.34061229e-01, 2.27743938e-01,
        7.08333298e-01, 2.33457724e-01, 6.27860934e-01],
       [2.35330162e-01, 1.40062386e-01, 4.89868444e-01, 1.20080091e-01,
        2.79194737e-01, 6.73919197e-01, 1.08441764e-01],
       [4.72363175e-01, 3.10746679e-01, 3.53859052e-02, 5.96447734e-01,
        5.61036543e-01, 2.27642244e-01, 5.72503887e-01],
       [6.11997761e-01, 5.46390891e-01, 8.66871996e-01, 5.07245667e-01,
        6.66771990e-01, 6.97305106e-01, 2.57165979e-01],
       [6.93729268e-01, 5.81350899e-01, 5.88695162e-01, 2.67671239e-01,
        5.01596741e-01, 4.46327843e-01, 6.15831142e-01],
       [6.07602323e-01, 6.18291472e-01, 9.75596760e-01, 5.50012709e-01,
        9.65803111e-01, 5.10578632e-01, 5.39526301e-01],
       [9.03236846e-01, 4.24896720e-01, 2.19104367e-01, 7.48050470e-01,
        8.97588969e-01, 8.95991027e-01, 9.07844060e-01],
       [3.46728309e-01, 4.93060394e-01, 4.36438855e-01, 1.69670238e-01,
        6.84608874e-01, 2.80890456e-01, 7.02260753e-01],
       [5.83857945e-01, 7.22085555e-02, 3.24215295e-01, 4.93950865e-01,
        8.50395395e-01, 4.35608082e-01, 5.65734225e-01],
       [8.03221811e-01, 5.52552473e-01, 8.48066081e-02, 5.74813744e-01,
        9.64401482e-01, 3.24725496e-01, 9.36222679e-01],
       [5.27447202e-01, 8.77395658e-01, 2.17582359e-01, 6.22186533e-01,
        7.93629942e-01, 9.11771914e-01, 1.69566750e-01],
       [2.43433379e-01, 4.26697924e-01, 2.55548028e-01, 9.04610079e-01,
        2.56452595e-03, 2.51359303e-01, 2.67093718e-01],
       [7.00034370e-01, 9.50582560e-01, 2.06554852e-01, 7.68644110e-01,
        5.00729928e-01, 5.48388834e-01, 8.17993753e-01],
       [7.57277012e-01, 3.96356726e-01, 2.03605329e-01, 5.58617876e-01,
        5.57328640e-01, 7.38629649e-01, 6.50855437e-01],
       [9.65398915e-01, 3.31658581e-01, 7.95057886e-02, 5.34973303e-01,
        1.25769981e-01, 8.62511889e-02, 2.19322387e-01],
       [8.50382121e-01, 3.22406048e-01, 8.18404914e-01, 9.02193885e-01,
        8.61815616e-01, 3.19109063e-02, 3.86386252e-01],
       [1.41834550e-01, 7.80406030e-01, 4.92346589e-01, 1.50538889e-01,
        5.55180699e-01, 7.19279070e-02, 8.84057563e-01],
       [2.38592546e-01, 6.86176552e-01, 5.51960604e-01, 8.29227969e-01,
        9.52625692e-01, 4.55313973e-01, 3.01583387e-01],
       [3.73321656e-02, 4.97912165e-01, 8.61437648e-01, 7.35975666e-01,
        7.25745781e-03, 7.51452614e-01, 1.57082156e-01],
       [2.60995603e-01, 9.13795160e-01, 8.01967185e-01, 1.23273490e-01,
        2.61833615e-01, 4.68090439e-01, 1.27877383e-01],
       [6.97381267e-01, 7.18732419e-01, 6.41552656e-01, 6.16085708e-01,
        7.74742748e-01, 5.74346416e-01, 5.25753340e-01],
       [8.75134779e-01, 1.19839018e-01, 7.65853017e-01, 6.80238651e-01,
        5.74030776e-01, 2.27615700e-01, 7.04161514e-01],
       [1.42386195e-01, 6.14602038e-01, 4.92242896e-01, 9.74883262e-01,
        9.95938009e-01, 7.30646323e-01, 6.18720971e-01],
       [6.17723907e-01, 1.61182568e-01, 8.97051103e-01, 3.37982895e-01,
        3.55771051e-01, 4.89605297e-01, 1.11836338e-01],
       [2.35903473e-01, 6.66392133e-01, 9.31290697e-01, 8.09000375e-01,
        5.84013692e-01, 9.72431349e-01, 5.48974001e-01],
       [2.33548505e-01, 4.93505512e-01, 5.58483322e-01, 5.84682750e-01,
        9.84708923e-01, 8.80908433e-01, 2.86216517e-01],
       [8.71086687e-01, 1.73768474e-01, 4.37839968e-01, 6.71930608e-01,
        5.80962920e-01, 1.95800851e-01, 3.33397978e-02],
       [3.85189745e-01, 3.09176216e-01, 7.91020056e-01, 6.77010599e-01,
        7.83052814e-01, 4.73237118e-01, 9.64330280e-01],
       [2.44449788e-01, 2.87683467e-01, 2.47117967e-01, 9.89309000e-01,
        7.81106780e-01, 1.03020642e-01, 9.41849163e-01],
       [4.83116295e-01, 9.39171239e-01, 1.85851393e-01, 3.77881693e-01,
        4.81670107e-01, 7.37037276e-01, 1.21390045e-01],
       [5.50161451e-01, 5.45948381e-01, 3.24491467e-01, 2.34333730e-01,
        8.46468117e-01, 7.32931798e-01, 4.84052917e-01],
       [8.77561331e-01, 4.97246080e-01, 8.57195910e-01, 6.45556339e-01,
        9.28869198e-01, 8.87156916e-01, 1.10107911e-01],
       [6.52016359e-01, 9.00036955e-01, 6.02992036e-01, 7.81739613e-01,
        4.98457354e-01, 7.44474258e-01, 3.64778269e-01],
       [7.70367725e-01, 2.71587662e-01, 5.80403720e-01, 1.10160662e-01,
        8.74468066e-01, 1.19404095e-01, 2.77581814e-01],
       [7.05121201e-01, 9.02488158e-02, 7.58144915e-01, 6.48538652e-01,
        7.16694186e-02, 3.47558556e-01, 8.55675576e-01],
       [8.14591646e-01, 4.30036442e-03, 2.58324754e-01, 5.16421559e-01,
        7.63910433e-01, 7.82750716e-01, 8.12116887e-01],
       [4.50591027e-01, 8.65069734e-01, 6.95020340e-01, 7.91646624e-01,
        8.41583112e-01, 1.10621532e-01, 9.68984757e-01],
       [3.43185081e-01, 7.48366440e-01, 9.38767498e-01, 8.02633875e-01,
        1.26555796e-01, 3.69536162e-01, 1.50639161e-01],
       [9.73594570e-01, 3.41526523e-01, 9.27126220e-01, 7.79512187e-02,
        7.09922704e-01, 2.60123070e-01, 2.64390995e-01],
       [3.64665609e-01, 9.85190165e-01, 2.20151870e-01, 6.81962540e-01,
        3.48165593e-01, 7.32995450e-01, 6.03313263e-01],
       [6.64013173e-01, 2.53100467e-01, 1.87378805e-01, 4.36238478e-01,
        6.01689770e-01, 6.11032923e-01, 6.42026519e-01],
       [5.20637784e-01, 9.31161068e-01, 2.83867233e-01, 1.46726090e-01,
        1.04447584e-01, 2.48193737e-01, 6.14572854e-01],
       [8.02773186e-01, 5.18595360e-01, 7.28683056e-01, 7.20900853e-01,
        7.22978966e-02, 7.25895028e-01, 3.48826057e-01],
       [8.41569312e-01, 1.92685433e-01, 8.04562562e-01, 5.49609226e-01,
        4.08134731e-01, 4.33391625e-01, 6.52660971e-01],
       [9.76023400e-01, 6.55505493e-01, 4.71594064e-01, 1.48210416e-01,
        6.67280414e-01, 8.26414410e-02, 8.83815082e-01],
       [9.27668256e-01, 2.38875198e-01, 4.05430266e-01, 2.97219925e-01,
        5.53684048e-01, 7.59959358e-01, 2.77515843e-01],
       [8.78352249e-01, 3.02680456e-01, 3.01932568e-01, 3.56722779e-01,
        2.62961478e-01, 3.41110041e-01, 8.57322407e-01],
       [7.54407861e-02, 4.07902092e-01, 5.99321701e-01, 3.18125328e-01,
        2.80530057e-01, 5.41206431e-01, 6.72592907e-01],
       [3.01022417e-01, 3.81564503e-02, 5.61641881e-01, 7.65467322e-01,
        1.68867280e-01, 7.73350393e-01, 7.74734165e-01],
       [7.32013444e-01, 5.76576828e-01, 5.98690496e-01, 7.67585894e-01,
        6.32276161e-01, 2.39928698e-01, 7.49886310e-01],
       [9.98909065e-01, 8.84583561e-01, 1.22940615e-01, 4.58173932e-01,
        7.76154957e-01, 6.76639031e-01, 9.49443702e-01],
       [1.63353013e-01, 6.66676160e-01, 5.58393572e-01, 8.91880969e-01,
        7.48461471e-01, 8.99038126e-02, 2.69426879e-01],
       [5.96742521e-01, 4.35305974e-01, 9.73853341e-01, 3.46219133e-01,
        2.17341585e-01, 8.34018671e-01, 8.81872838e-01],
       [3.92992394e-01, 3.28430627e-02, 3.23115929e-01, 9.70471475e-01,
        8.95572575e-01, 7.72570405e-01, 1.10600387e-01],
       [1.89541785e-01, 3.07737451e-01, 3.20073139e-01, 3.63143105e-01,
        5.10941894e-01, 2.03713450e-01, 3.44376161e-01],
       [8.15398611e-01, 8.08863408e-01, 3.77514212e-01, 2.97713397e-01,
        3.56335886e-01, 9.97521674e-03, 2.09529587e-01],
       [3.30834396e-01, 5.35712359e-01, 7.54792812e-01, 3.13880572e-02,
        9.18277257e-01, 1.00646302e-02, 1.11026290e-01],
       [2.87341589e-01, 6.13584630e-01, 5.94446630e-01, 6.23221849e-01,
        4.52518695e-01, 8.21118922e-01, 3.78885970e-01],
       [8.93406661e-01, 6.82855300e-01, 8.34325448e-01, 8.08413769e-01,
        3.49003291e-01, 5.00150511e-01, 5.01584703e-01],
       [5.73923199e-01, 1.71459323e-01, 1.36848996e-01, 8.64737056e-01,
        6.86205326e-01, 8.66937148e-01, 6.79358574e-01]])

In [42]:
# convert into CSV file
df.to_csv('code.csv',index=False)

In [43]:
# read Csv File
newdf=pd.read_csv('code.csv')
newdf

           0         1         2         3         4         5         6
0   0.520597  0.630996  0.329957  0.870215  0.790728  0.818900  0.032564
1   0.978444  0.653096  0.586748  0.632519  0.135216  0.888008  0.982149
2   0.924796  0.764417  0.847122  0.004739  0.633301  0.673217  0.003992
3   0.895704  0.386590  0.762105  0.442943  0.679556  0.153821  0.780654
4   0.002433  0.741217  0.005668  0.065390  0.687317  0.828279  0.653697
..       ...       ...       ...       ...       ...       ...       ...
95  0.815399  0.808863  0.377514  0.297713  0.356336  0.009975  0.209530
96  0.330834  0.535712  0.754793  0.031388  0.918277  0.010065  0.111026
97  0.287342  0.613585  0.594447  0.623222  0.452519  0.821119  0.378886
98  0.893407  0.682855  0.834325  0.808414  0.349003  0.500151  0.501585
99  0.573923  0.171459  0.136849  0.864737  0.686205  0.866937  0.679359

[100 rows x 7 columns]

In [44]:
# Cheking first 5 row or column
newdf.head()

          0         1         2         3         4         5         6
0  0.520597  0.630996  0.329957  0.870215  0.790728  0.818900  0.032564
1  0.978444  0.653096  0.586748  0.632519  0.135216  0.888008  0.982149
2  0.924796  0.764417  0.847122  0.004739  0.633301  0.673217  0.003992
3  0.895704  0.386590  0.762105  0.442943  0.679556  0.153821  0.780654
4  0.002433  0.741217  0.005668  0.065390  0.687317  0.828279  0.653697

In [51]:
# checking it's types
newdf.describe()

,0,1,2,3,4,5,6
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.592010,0.492160,0.506468,0.512400,0.549415,0.491576,0.519422
std,0.296661,0.270406,0.272783,0.288853,0.291370,0.272049,0.300502
min,0.002433,0.004300,0.000709,0.004739,0.002565,0.009975,0.003992
25%,0.300019,0.257317,0.297416,0.256605,0.301597,0.246127,0.266418
50%,0.645988,0.505656,0.500926,0.553151,0.613611,0.490437,0.544250
75%,0.872099,0.711473,0.755631,0.767795,0.781593,0.733146,0.795097
max,0.999905,0.985190,0.975994,0.989309,0.997128,0.978175,0.982149

In [61]:
# for knowing the value at the specific place using LOC
df.loc[4,3]

np.float64(0.06538958023061014)

In [64]:
# For changing column name
df.columns=list('abcdefg')

In [65]:
df

           a         b         c         d         e         f         g
0   0.520597  0.630996  0.329957  0.870215  0.790728  0.818900  0.032564
1   0.978444  0.653096  0.586748  0.632519  0.135216  0.888008  0.982149
2   0.924796  0.764417  0.847122  0.004739  0.633301  0.673217  0.003992
3   0.895704  0.386590  0.762105  0.442943  0.679556  0.153821  0.780654
4   0.002433  0.741217  0.005668  0.065390  0.687317  0.828279  0.653697
..       ...       ...       ...       ...       ...       ...       ...
95  0.815399  0.808863  0.377514  0.297713  0.356336  0.009975  0.209530
96  0.330834  0.535712  0.754793  0.031388  0.918277  0.010065  0.111026
97  0.287342  0.613585  0.594447  0.623222  0.452519  0.821119  0.378886
98  0.893407  0.682855  0.834325  0.808414  0.349003  0.500151  0.501585
99  0.573923  0.171459  0.136849  0.864737  0.686205  0.866937  0.679359

[100 rows x 7 columns]

In [68]:
df.loc[4,'f']

np.float64(0.8282794985988116)

In [69]:
# drop column on view form
df=df.drop('a',axis=1)

In [70]:
df

           b         c         d         e         f         g
0   0.630996  0.329957  0.870215  0.790728  0.818900  0.032564
1   0.653096  0.586748  0.632519  0.135216  0.888008  0.982149
2   0.764417  0.847122  0.004739  0.633301  0.673217  0.003992
3   0.386590  0.762105  0.442943  0.679556  0.153821  0.780654
4   0.741217  0.005668  0.065390  0.687317  0.828279  0.653697
..       ...       ...       ...       ...       ...       ...
95  0.808863  0.377514  0.297713  0.356336  0.009975  0.209530
96  0.535712  0.754793  0.031388  0.918277  0.010065  0.111026
97  0.613585  0.594447  0.623222  0.452519  0.821119  0.378886
98  0.682855  0.834325  0.808414  0.349003  0.500151  0.501585
99  0.171459  0.136849  0.864737  0.686205  0.866937  0.679359

[100 rows x 6 columns]

In [83]:
# for knowing the value at the specific place using ILOC
df.iloc[0,4]

np.float64(0.8189003044292799)

In [86]:
# How to manupulate data
df['b'][1]='arnab'
df

           b         c         d         e         f         g
0   0.630996  0.329957  0.870215  0.790728  0.818900  0.032564
1      arnab  0.586748  0.632519  0.135216  0.888008  0.982149
2   0.764417  0.847122  0.004739  0.633301  0.673217  0.003992
3    0.38659  0.762105  0.442943  0.679556  0.153821  0.780654
4   0.741217  0.005668  0.065390  0.687317  0.828279  0.653697
..       ...       ...       ...       ...       ...       ...
95  0.808863  0.377514  0.297713  0.356336  0.009975  0.209530
96  0.535712  0.754793  0.031388  0.918277  0.010065  0.111026
97  0.613585  0.594447  0.623222  0.452519  0.821119  0.378886
98  0.682855  0.834325  0.808414  0.349003  0.500151  0.501585
99  0.171459  0.136849  0.864737  0.686205  0.866937  0.679359

[100 rows x 6 columns]

In [87]:
# For Deleting values
df.drop(['b','c'],axis=1,inplace=True)
df

           d         e         f         g
0   0.870215  0.790728  0.818900  0.032564
1   0.632519  0.135216  0.888008  0.982149
2   0.004739  0.633301  0.673217  0.003992
3   0.442943  0.679556  0.153821  0.780654
4   0.065390  0.687317  0.828279  0.653697
..       ...       ...       ...       ...
95  0.297713  0.356336  0.009975  0.209530
96  0.031388  0.918277  0.010065  0.111026
97  0.623222  0.452519  0.821119  0.378886
98  0.808414  0.349003  0.500151  0.501585
99  0.864737  0.686205  0.866937  0.679359

[100 rows x 4 columns]

In [89]:
# checking NULL values
df['f'].isnull()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: f, Length: 100, dtype: bool

In [90]:
#Cheking not available values
df.dropna()

           d         e         f         g
0   0.870215  0.790728  0.818900  0.032564
1   0.632519  0.135216  0.888008  0.982149
2   0.004739  0.633301  0.673217  0.003992
3   0.442943  0.679556  0.153821  0.780654
4   0.065390  0.687317  0.828279  0.653697
..       ...       ...       ...       ...
95  0.297713  0.356336  0.009975  0.209530
96  0.031388  0.918277  0.010065  0.111026
97  0.623222  0.452519  0.821119  0.378886
98  0.808414  0.349003  0.500151  0.501585
99  0.864737  0.686205  0.866937  0.679359

[100 rows x 4 columns]

In [91]:
# Making Dictionary
dict={
    "name":['sukanta','miraj','irin','shuvam','shreya'],
    "skills":['fullstack','python','web','hacking','web'],
    "sports":['football','football','cricket','hacker','cricket']
}

In [92]:
# Convert dictionary into Data frame
college=pd.DataFrame(dict)
print(college)

      name     skills    sports
0  sukanta  fullstack  football
1    miraj     python  football
2     irin        web   cricket
3   shuvam    hacking    hacker
4   shreya        web   cricket